div{
    height: 200px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    
}
button{
    background-color: red;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: none;
}

div{/* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.6);}

body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/345/388/36/map-typography-colorful-world-wallpaper-preview.jpg);
}
/* body {    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
} */
body{
    background-image: url(https://i.pinimg.com/originals/9c/98/22/9c9822a872aadcc57e2dfb3be7866780.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}